<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>404</title>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body class="error404">
<div class="ui container" style="padding-top:5%">
    <div class="ui grid center aligned">
        <div class="row">
            <div class="sixteen wide tablet ten wide computer column">

                <div class="ui container center aligned errorcontainer">
                    <h1 class="ui header inverted">
                        Oooops! 这个页面出现错误啦！
                    </h1>
                    <a class="ui button" th:href="@{/}">
                        返回主界面
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

